<%- include ../include/head %>
	<article  class="adm">
		<div class="main">
			<%- include ../include/left %>
			<div class="content">
				<div class="index">
					<h3 class="idx-t"><span class="spn"></span><span class="spat"></span><b>后台管理</b></h3>
					<div class="contai">
						<div class="gs">
							<div class="img"><span class="imgTex">公司首页</span></div>
							<p class="pp">查看详情 <span>&rarr;</span></p>
							<p class="abu"><a href="/users/index"></a></p>
						</div>
						<div class="message">
							<div class="img"><span class="imgTex">留言统计</span></div>
							<p class="pp">查看详情 <span>&rarr;</span></p>
							<p class="abu"><a href="/users/leave"></a></p>
						</div>
						<div class="case">
							<div class="img"><span class="imgTex">案例统计</span></div>
							<p class="pp">查看详情 <span>&rarr;</span></p>
							<p class="abu"><a href="/users/cL"></a></p>
						</div>
						<div class="news">
							<div class="img"><span class="imgTex">新闻统计</span></div>
							<p class="pp">查看详情 <span>&rarr;</span></p>
							<p class="abu"><a href="/users/Nl"></a></p>
						</div>
						<div class="c-last">
							<div class="img"><span class="imgTex">Total  Profit</span></div>
							<p class="pp">VIEW  MORE <span>&rarr;</span></p>
							<p class="abu"><a href=""></a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</article>
	<script type="text/javascript" src="/users/js/bootstrap.min.js"></script>
</body>
</html>
<%- include ../include/footer %>