	<div id="footer">
		<div class="footer-call">
			<ul class="footU">
				<li class="fooL1">
					<p class="blod">电话</p>
					<p>0755-23707481</p>
				</li>
				<li class="fooL2">
					<p class="blod">QQ</p>
					<p>1121099093</p>
				</li>
				<li class="fooL3">
					<p class="blod">邮箱</p>
					<p><a href="">1121099093@qq.com</a></p>
				</li>
				<li class="fooL4">
					<p class="blod">地址</p>
					<p>深圳市龙华新区观澜街道岗头福田新村5号106铺</p>
				</li>
			</ul>
		</div>
		<div class="footer-text">
			Copyright © 2016&nbsp;&nbsp;深圳市清风装饰有限公司&nbsp;&nbsp;<span class="fds">All Rights Reserved&nbsp;&nbsp;<a href="">粤ICP备16094968号</a></span><a href="http://www.wonfox.com" target="_blank" class="wf">技术支持：网峰科技</a>
		</div>
		<div id="sidebar">
			<div class="sideC">
				<div class="sideQQ">
					<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1121099093&amp;site=qq&amp;menu=yes" target="_blank" class="clickQQ"></a>
				</div>
				<div class="sideWX">
					<div class="wximg">
						<img src="images/weix_03.jpg" alt="">
					</div>
				</div>
				<div class="sidePH">
					<div class="phone">0755-23707481</div>
				</div>
				<div class="sidej">
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="/javascripts/html5zoo.js"></script>
	<script type="text/javascript" src="/javascripts/lovelygallery.js"></script>
	<script type="text/javascript" src="/javascripts/index.js"></script>
</body>
</html>