<%- include ../include/head %>
<div class="case">
	<div class="banner">
		<div class="bannerT">
			<img src="images/case.jpg" alt="" class="bannerI">
		</div>
		<div class="bannerB"></div>
	</div>
	<div class="caseShow">
		<div class="container">
			<div class="col-sm-3 col-xs-6"><img src="images/1.jpg" alt=""></div>
			<div class="col-sm-3 col-xs-6"><img src="images/2.jpg" alt=""></div>
			<div class="col-sm-6 col-xs-12"><img src="images/3.jpg" alt=""></div>
			<div class="col-sm-6 col-xs-12"><img src="images/4.jpg" alt=""></div>
			<div class="col-sm-3 col-xs-6"><img src="images/5.jpg" alt=""></div>
			<div class="col-sm-3 col-xs-6"><img src="images/6.jpg" alt=""></div>
			<div class="col-sm-3 col-xs-6"><img src="images/7.jpg" alt=""></div>
			<div class="col-sm-3 col-xs-6"><img src="images/8.jpg" alt=""></div>
			<div class="col-sm-6 col-xs-12"><img src="images/9.jpg" alt=""></div>
		</div>
	</div>
	<div class="container">
		<div class="paging">
			<a href="">上页</a>
			<a href="" class="next">下页</a>
			<span class="pageN">01</span>
		</div>
	</div>
</div>
<%- include ../include/footer %>