<%- include ../include/head %>
<div class="company">
	<div class="banner">
		<div class="bannerT">
			<img src="images/company.jpg" alt="" class="bannerI">
		</div>
		<div class="bannerB"></div>
	</div>
	<div class="companyContent">
		<div class="container">
			<div class="col-sm-7">
				<div>深圳市清风装饰有限公司有丰富的施工经验、优秀的设计、精湛的施工队伍、和环保的装修理念。</div>
				<div>我们施工队为您创造一个温馨的家居生活环境，经过多年的风风雨雨，所以深知业主的每一分钱的份量，也明白自己的责任，像朋友一样为您建造阳光般的居所是我们的服务宗旨。用好客户的每一分钱，尊重自己的的每一滴汗水是我们的经营理念。</div>
			</div>
			<div class="col-sm-5">
				<img src="images/about_05.png" alt="" class="conI">
			</div>
		</div>
	</div>
	<div class="comWork">
		<div class="container">
			<div class="comWork-t">
				我们的工作室
			</div>
			<div class="comWork-m clearfix">
				<div class="col-sm-3 col-xs-6"><img src="images/works1.jpg" alt=""></div>
				<div class="col-sm-3 col-xs-6"><img src="images/works2.jpg" alt=""></div>
				<div class="col-sm-3 col-xs-6"><img src="images/works3.jpg" alt=""></div>
				<div class="col-sm-3 col-xs-6"><img src="images/works4.jpg" alt=""></div>
			</div>
		</div>
	</div>
</div>
<%- include ../include/footer %>