<%- include ../include/head %>
<div class="service">
	<div class="banner">
		<div class="bannerT">
			<img src="images/service.jpg" alt="" class="bannerI">
		</div>
		<div class="bannerB"></div>
	</div>
	<div class="service-content">
		<div class="itens clearfix">
			<div class="col-sm-2 col-xs-4"><img src="images/indIcon_03.jpg" alt=""><p>住宅装修</p></div>
			<div class="col-sm-2 col-xs-4"><img src="images/indIcon_05.jpg" alt=""><p>店铺店面装修</p></div>
			<div class="col-sm-2 col-xs-4"><img src="images/indIcon_07.jpg" alt=""><p>办公室、写字楼装修</p></div>
			<div class="col-sm-2 col-xs-4"><img src="images/indIcon_09.jpg" alt=""><p>厂房装修</p></div>
			<div class="col-sm-2 col-xs-4"><img src="images/indIcon_11.jpg" alt=""><p>铺贴地砖</p></div>
			<div class="col-sm-2 col-xs-4"><img src="images/indIcon_13.jpg" alt=""><p>水电安装</p></div>
		</div>
	</div>
	<div class="container">
		<div class="ser-text">
			<img src="images/ruand_03.jpg" alt="图片" class="ruand">
			<div class="sert-t clearfix">
				<div class="col-xs-12 col-sm-7 ">
					<p><span class="round2">1</span>住宅装修、店铺装修、店面装修、办公室写字楼装修、厂房装修</p>
					<p><span class="round2">2</span>二手房简装、厨卫改装、水电安装、办公楼弱电安装维修</p>
					<p><span class="round2">3</span>铺地板、做厨柜、吊柜、地柜、隔木板墙、吊顶造型、屏风制作等</p>
					<p><span class="round2">4</span>厨房卫生间防水，楼顶防水补漏工程，水路安装，弱电工程制作</p>
					<p><span class="round2">5</span>铺贴地砖、瓷砖、大理石，砌红砖墙，厨、卫改造</p>
					<p><span class="round2">6</span>家具刷油漆，木门油漆翻新，墙面批灰、涂料粉刷</p>
					<div class="bor"></div>
				</div>
				<div class="col-xs-12 col-sm-5">
					<p><span class="round2">7</span>专业人员专业钻孔（打墙洞），砌墙，磨地板 </p>
					<p><span class="round2">8</span>铺贴地砖、瓷砖、大理石，砌红砖墙 ，厨卫改造</p>
					<p><span class="round2">9</span>防水工程  材料与施工  </p>
					<p><span class="round2">10</span>白铁 通风 （厨房 ，空调）材料与施工</p>
					<p><span class="round2">11</span>地坪漆材料与  施工</p>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include ../include/footer %>