<aside class="asdLeft" >
	<div class="logoImg">
		<img src="/users/images/lo.png" alt="">
	</div>
	<ul class="L-ul panel-group" id="leftN">
		<li class="panel"><a href="/users/index" class="navA collapsed" data-parent="#leftN"><i class="fa fa-home"></i><span>管理首页</span></a></li>
		<li class="panel">
		   <a href="#banner" data-toggle="collapse" class="navA collapsed" data-parent="#leftN">
				<i class="fa fa-picture-o"></i>
				<span>轮播图</span>
				<i class="fa fa-angle-up rightI textA"></i>
				<i class="fa fa-angle-down textI rightI"></i>
			</a>
			<ul id="banner" class="collapse">
				<li><a href="/users/bL"><i class="fa fa-list-ol"></i><span>轮播图列表</span></a></li>
				<li><a href="/users/ab"><i class="fa fa-edit"></i><span>添加轮播图</span></a></li>
			</ul>
		</li>
		<li class="panel">
			<a href="#Lcase" data-toggle="collapse" class="navA collapsed" data-parent="#leftN">
				<i class="fa fa-leaf"></i>
				<span>案例添加</span>
				<i class="fa fa-angle-up rightI textA"></i>
				<i class="fa fa-angle-down textI rightI"></i>
			</a>
			<ul id="Lcase" class="collapse">
				<li><a href="/users/cL"><i class="fa fa-list-ol"></i><span>案例列表</span></a></li>
				<li><a href="/users/ac"><i class="fa fa-edit"></i><span>添加案例</span></a></li>
			</ul>
		</li >
		<li class="panel">
			<a href="#News" data-toggle="collapse" class="navA collapsed" data-parent="#leftN">
				<i class="fa fa-hacker-news"></i>
				<span>新闻添加</span>
				<i class="fa fa-angle-up rightI textA"></i>
				<i class="fa fa-angle-down textI rightI"></i>
			</a>
			<ul id="News" class="collapse">
				<li><a href="/users/Nl"><i class="fa fa-list-ol"></i><span>新闻列表</span></a></li>
				<li><a href="/users/aN"><i class="fa fa-edit"></i><span>添加新闻</span></a></li>
			</ul>
		</li>
		<li class="panel">
			<a href="#leave" data-toggle="collapse" class="navA collapsed" data-parent="#leftN"><i class="fa fa-pencil-square-o"></i><span>留言模块</span><i class="fa fa-angle-up rightI textA"></i><i class="fa fa-angle-down textI rightI"></i></a>
			<ul id="leave" class="collapse">
				<li><a href="/users/leave"><i class="fa fa-list-ol"></i><span>留言列表</span></a></li>
			</ul>
		</li>
		<li class="panel">
			<a href="#rbac" data-toggle="collapse" class="navA collapsed" data-parent="#leftN">
				<i class="fa fa-power-off"></i>
				<span>权限管理</span>
				<i class="fa fa-angle-up rightI textA"></i>
				<i class="fa fa-angle-down textI rightI"></i>
			</a>
			<ul id="rbac" class="collapse">
				<li><a href="/users/adminList"><i class="fa fa-list-ol"></i><span>管理员列表</span></a></li>
				<li><a href="/users/roleList"><i class="fa fa-graduation-cap"></i><span>角色列表</span></a></li>
				<li><a href="/users/addAdmin"><i class="fa fa-edit"></i><span>添加管理员</span></a></li>
			</ul>
		</li>
	</ul>
</aside> 